---
name: Pull request verification

on:
  pull_request:

jobs:
  PullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.3.0

      - name: Collect build information
        run: |
          echo XCADDY_VERSION="$(go list -m -f '{{.Version}}' github.com/caddyserver/xcaddy)" >> "${GITHUB_ENV}"

      - name: Build container image
        uses: docker/build-push-action@v6.18.0
        with:
          push: false
          build-args: XCADDY_VERSION=${{ env.XCADDY_VERSION }}
